[submodule "Brian-Whipple/hello-microservices"]
	path = Brian-Whipple/hello-microservices
	url = https://github.com/Brian-Whipple/hello-microservices
[submodule "github.com/brian-whipple/hello-microservices"]
	path = github.com/brian-whipple/hello-microservices
	url = https://github.com/Brian-Whipple/hello-microservices
